In [99]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import nltk

In [5]:
df=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [6]:
df.keys()

Index(['id', 'label', 'tweet'], dtype='object')

In [7]:
df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [8]:
X=df["tweet"]
Y=df["label"]
X

0         @user when a father is dysfunctional and is s...
1        @user @user thanks for #lyft credit i can't us...
2                                      bihday your majesty
3        #model   i love u take with u all the time in ...
4                   factsguide: society now    #motivation
                               ...
31957    ate @user isz that youuu?ðððððð...
31958      to see nina turner on the airwaves trying to...
31959    listening to sad songs on a monday morning otw...
31960    @user #sikh #temple vandalised in in #calgary,...
31961                     thank you @user for you follow
Name: tweet, Length: 31962, dtype: object

In [9]:
df["label"].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [10]:
X.isnull().sum()

0

In [11]:
X[100]

'there are some truly sick ppl out there.   '

In [12]:
Y[100]

0

In [13]:
combi=df.append(test,ignore_index=True)
combi.shape

(49159, 3)

In [14]:
import re
def remove_pattern(input_txt, pattern):
    r=re.findall(pattern,input_txt)
    for i in r:
        input_txt= re.sub(i,'',input_txt)
    return input_txt

In [15]:
combi['tidy_tweets']=np.vectorize(remove_pattern)(combi['tweet'],'@[\w]*')
combi.head()

,id,label,tweet,tidy_tweets
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can't use cause th...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,factsguide: society now #motivation

In [16]:
#removing special characters and numbers 
combi['tidy_tweets']=combi['tidy_tweets'].str.replace('[^a-zA-Z#]'," ")
combi.head()

,id,label,tweet,tidy_tweets
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can t use cause th...
2,3,0.0,bihday your majesty,bihday your majesty
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,5,0.0,factsguide: society now #motivation,factsguide society now #motivation

In [17]:
#tokenizing words
tokenized_words=[]
for x in combi["tidy_tweets"]:
    tokenized_words.append(nltk.word_tokenize(x))

In [18]:
#normalzing
from nltk.stem.porter import *
stemmer= PorterStemmer()
for i in tokenized_words:
    for  j in range(0,len(i)):
        i[j]=stemmer.stem(i[j])

In [19]:
combi["tokenized_words"]=tokenized_words

In [29]:
combi.head()

,id,label,tweet,tidy_tweets,tokenized_words
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunct, and, is, so, s..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can t use cause th...,"[thank, for, #, lyft, credit, i, can, t, use, ..."
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesti]"
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#, model, i, love, u, take, with, u, all, the..."
4,5,0.0,factsguide: society now #motivation,factsguide society now #motivation,"[factsguid, societi, now, #, motiv]"

In [44]:
tokenized_tweet=[]
l=0
for i in tokenized_words:
    tokenized_tweet.append("")
    for j in i:
        tokenized_tweet[l]+=j
    l=l+1
combi['tidy_tweet']=tokenized_tweet
combi.head()

,id,label,tweet,tidy_tweets,tokenized_words,tidy_tweet
0,1,0.0,@user when a father is dysfunctional and is s...,when a father is dysfunctional and is so sel...,"[when, a, father, is, dysfunct, and, is, so, s...",whenafatherisdysfunctandissoselfishhedraghikid...
1,2,0.0,@user @user thanks for #lyft credit i can't us...,thanks for #lyft credit i can t use cause th...,"[thank, for, #, lyft, credit, i, can, t, use, ...",thankfor#lyftcrediticantusecaustheydontofferwh...
2,3,0.0,bihday your majesty,bihday your majesty,"[bihday, your, majesti]",bihdayyourmajesti
3,4,0.0,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...,"[#, model, i, love, u, take, with, u, all, the...",#modeliloveutakewithuallthetimeinur
4,5,0.0,factsguide: society now #motivation,factsguide society now #motivation,"[factsguid, societi, now, #, motiv]",factsguidsocietinow#motiv

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer 
import gensim

In [46]:
bow_vectorizer= CountVectorizer(max_df=0.90, min_df=2, max_features=1000, stop_words='english')
bow= bow_vectorizer.fit_transform(combi["tidy_tweet"])
bow.shape

(49159, 1000)

In [93]:
#logistic Regression model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
train_bow=bow[:31962,:]
test_bow=bow[31962:, :]
X_train,X_test,Y_train,Y_test=train_test_split(train_bow,df['label'], test_size=0.25, random_state=1)
lreg_model=LogisticRegression()
lreg_model.fit(X_train,Y_train)
pred=lreg_model.predict_proba(X_test)
pred_int=pred[:,1]>=0.2
pred_int=pred_int.astype(int)

In [94]:
print("f1 score:",f1_score(Y_test,pred_int))
print("Accuracy:",accuracy_score(Y_test, pred_int))

f1 score: 0.4528795811518324
Accuracy: 0.947691152546615

In [95]:
#Support Vector machine model
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
svc=SVC(kernel='linear', C=1, probability=True).fit(X_train,Y_train)
pred=svc.predict_proba(X_test)
pred=pred[:,1]>=0.2
pred=pred.astype(int)
print("f1 score:",f1_score(Y_test,pred))
print("Accuracy:",accuracy_score(Y_test, pred))

f1 score: 0.43665768194070076
Accuracy: 0.947691152546615

In [96]:
#Random Forest Model
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier(n_estimators= 400, random_state=100).fit(X_train,Y_train)
pred=(rf.predict_proba(X_test)[:,1]>=0.20).astype(int)
print("f1 score:",f1_score(Y_test,pred))
print("Accuracy:",accuracy_score(Y_test, pred))

f1 score: 0.4295612009237876
Accuracy: 0.9381804530096358

In [97]:
#xgboost classifier model
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
xgb=XGBClassifier(n_estimators= 1000, max_depth=6).fit(X_train,Y_train)
pred1=(xgb.predict_proba(X_test)[:,1]>=0.20).astype(int)
print("f1 score:",f1_score(Y_test,pred))
print("Accuracy:",accuracy_score(Y_test, pred1))

f1 score: 0.4295612009237876
Accuracy: 0.9443123513953198